.header__logo{
			display: flex;
		}
.header__logo img{
	width: 30%;
}
strong{
	color: #fff;
	font-size: 26px;
	font-family: 'Nerko One', cursive;
}
.top-novbar{
	background: #fff;
}
.brand__title, .category__title, .product__title{
	text-align: left;
	margin: 0 0 30px 0;
}
.brand__table, .category__table, .product__table{
	width: 50%;
}
.brand__btn, .category__btn{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 0 0 30px 0;
}
.brand__btn form, .category__btn form{
	margin: 0 30px 0 0;
}
.brand__btn form:nth-child(3), .category__btn form:nth-child(3){
	margin: 0;
}
.product__add{
	margin-top: 30px;
}
.product__btn{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.product__btn form{
	margin: 0 0 0 30px;
	display: flex;
}
.close__btn,.close__btn-red{
	padding: 6px 12px;
	border-radius: 5px;
	background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
    top: 36px;
}

.close__btn-red{
    background-color: #d9534f;
    border-color: #d43f3a;
}
.none{
	display: none;
}

